/*h1,h2,p,a{
  color: #fff;
}


h2{
  width:75%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
}

p{
  width:100%;
  font-size: small;
  line-height: 0.96;
}

button{
  width:80px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #292929;
  outline: none;
  border:none;
  z-index: 100;
  color:#fff;
  gap:10px;
  transition: background 0.8s ease;
}

.main-nav{
  position: fixed;
  top:0;
  right: 0;
  width: 540px;
  height: 100dvh;
  max-height: 100dvh;
  background-color: #292929;
  padding:1em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(200%);
  will-change: transform;
}

.hb-btn{
  position: absolute;
  top:4%;
  right:4%;
}

#main-h{
  margin-top: 3.5rem;
  width: 85%;

}

#main-h p{
  line-height: 2.5;
  color:#616161;
  border-bottom: 1px solid #818080;
}

footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap:1vw;
}

svg{
  position: absolute;
  top: 0;
  left: -169px;
  width: 300px;
  height: 100%;
  fill: rgb(41, 41, 41);
  stroke: none;
}

.mask{
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

.mask-sp{
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

button:hover{
  background-color: #455CE9;
}

.bars{
  width: 40%;
  height: 0.8px;
  background-color: #fff;
  transform-origin: center;
  transition:all 0.3s ease;
}

.bars:nth-child(1).cross{
  transform: rotate(45deg) translateY(6px);
}

.bars:nth-child(2).cross{
  transform: rotate(-45deg) translateY(-6px);
}

@media (max-width:640px){
  h2{
    width:100%;
    font-size: 2.3rem;
    line-height: 1.4;
  }

  .main-nav{
    width:100%;
    padding:0.5em 3em;
  }

  svg{
    left:-340px;
    width:500px;
  }

  p{
    font-size:x-small;
  }

  footer{
    gap:4vw;
  }

  button{
    width:60px;
  }

  .cross{
    transform: translateY(0);
  }
}
*/