@import "tailwindcss";


@font-face {
    font-family: 'satoshi';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff');
}

@font-face {
    font-family:'satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/publiSatoshi-Medium.woff') format('woff');
}

@font-face {
    font-family: 'satoshi-italic';
    src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
    url('/fonts/Satoshi-Italic.woff') format('woff');
}

@font-face {
    font-family: 'satoshi-black';
    src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
    url('/fonts/Satoshi-Black.woff') format('woff');
}

@font-face {
    font-family: 'satoshi-bold';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Neue_Montreal'; 
    src: url('/fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
    url('/fonts/neuemontreal-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
}

:root{
  --baseBackground:#E8E8E3;
  /*--baseBackground:#F8F8F8;*/
  --HeadingsText:#080807;
  --Dark:#000;
  --black:#121212;
  --semiDark:#292929;
  --accent:#E63946;
  --menu:rgb(211, 25, 25);
}

body{
  background-color:var(--baseBackground);
  overflow-x: hidden;
  width:100%;
}

::-webkit-scrollbar{
  width: 0;
}


@layer base{
    section{
        @apply w-full min-h-screen;
    }
    nav{
        @apply w-full overflow-hidden py-2 px-6 flex justify-between fixed top-0 left-0 z-[100];
    }
    h1{
        @apply text-[clamp(3rem,10vw,12rem)] text-[var(--HeadingsText)] leading-[0.8] font-[satoshi] font-[600]  md:font-[satoshi-black] md:font-[900] md:leading-[0.9] tracking-tighter translate-y-[0%];
    }
    h2{
        @apply text-5xl md:text-8xl lg:text-9xl text-[var(--HeadingsText)]  font-[satoshi-black] font-[900] leading-[0.9] md:tracking-[-7px] lg:tracking-[-9px] translate-y-[0%];
    }
    h3{
      @apply  text-[var(--HeadingsText)] font-[satoshi-bold] font-[700] leading-[1] md:leading-[0.9] md:tracking-[-2px] lg:tracking-[-3px] translate-y-[0%];
    }
    h5{
        @apply md:text-4xl lg:text-6xl;
    }
    p{
        @apply font-[Neue_Montreal];
    }
    img{
        @apply overflow-y-hidden object-cover w-full h-full;
    }
    ul{
        @apply flex md:flex-row md:justify-evenly flex-col;
    }

    li{
        @apply md:p-2 font-[Neue_Montreal] sm:text-sm lg:text-base sm:leading-[1] md:leading-[2];
    }

    button.main-btn{
        @apply px-4 py-2 lg:px-8 lg:py-3 bg-[var(--semiDark)] text-[var(--baseBackground)] 
        cursor-pointer inset-0 border-0 rounded-full font-[satoshi-black] transition-all ease-in-out duration-200
    }

    footer{
        @apply h-screen w-full;
    }
}


@layer utilities{
    .designer-span{
        @apply text-sm inline-block font-[Neue_Montreal];
    }
    .mask{
        @apply overflow-y-hidden;
    }
    .logo{
        @apply font-[Neue_Montreal] font-[600] text-5xl will-change-transform;
    }
    .links{
        @apply will-change-transform;
    }
    .link{
        @apply relative  whitespace-nowrap;
    }
    .navigations{
        @apply relative;
    }
    .greet{
        @apply font-[Neue_Montreal] text-4xl md:text-5xl lg:text-7xl font-medium;
    }
    .anim-placeholder{
        @apply font-[Neue_Montreal] text-[var(--semiDark)];
    }
    .my-img{
        @apply flex flex-col absolute overflow-hidden md:w-[30vw] md:h-[36vw] 
        lg:w-[25vw] lg:h-[32vw] top-1/2 left-0  translate-x-2  translate-y-6 md:left-1/2  
        md:translate-x-[-80%] lg:translate-y-[-48%]  md:translate-y-[-50%] z-10;
    }
    .mask-overlay{
        @apply absolute top-0 left-0 w-full  h-full bg-[var(--baseBackground)];
    }
    .fade-in{
        @apply opacity-0;
    }

}

@layer components{
  .marquee{
    @apply flex gap-2  space-x-4 py-1 lg:py-2 overflow-hidden lg:w-[150vw];
  }
  .marquee-mobile{
    @apply overflow-hidden ;
  }

  .marquee h2{
    @apply whitespace-nowrap ml-2 text-2xl md:text-5xl tracking-wide text-white !font-[satoshi];
  }

  .marquee h2 img{
    @apply inline-block w-12 h-12 lg:w-16 lg:h-16;
  }

  .slide{
    @apply w-full flex gap-2 items-center justify-center;
  }
  
  .slide img{
    @apply w-22 lg:w-52 aspect-video object-cover self-center object-[50%_15%];
  }

  .slide h2{
    @apply text-4xl md:text-7xl lg:text-9xl tracking-normal uppercase;
  }
  /* For mobile version of the slide */
  .elem{
    @apply w-full flex gap-2 items-center justify-center;
  }
}

.anim {
  animation: rotate 32s linear infinite;
  animation-delay: 1.2s;
  will-change: transform;
}

@keyframes rotate {
    from{
        rotate: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
}

.mask-overlay{
    transform: scaleY(0);
    will-change: transform;
}

.main-btn:active,.main-btn:hover{
   transform: scale(0.95);
}

.reveal-line{
    will-change: transfrom;
}


/* Menu Styles */

.main-nav{
  position: fixed;
  top:0;
  right: 0;
  width: 540px;
  height: 100%;
  min-height: 100dvh;
  background-color:#181717;
  padding:1em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(200%);
  will-change: transform;
}

.main-nav h5{
    font-family: 'satoshi';
    font-weight: 600;
    color:var(--HeadingsText);
}

.hb-btn{
  position: absolute;
  top:4%;
  right:4%;
  width:80px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--semiDark);
  outline: none;
  border:none;
  z-index: 100;
  color:#fff;
  gap:10px;
  transition: background 0.8s ease;
}

#main-h{
  margin-top: 3.5rem;
  width: 85%;

}

#main-h p{
  line-height: 2.5;
  color:#fff;
  border-bottom: 1px solid #fff;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap:1vw;
}

.footer p{
    transition: all 0.1s ease;
    padding:0.3em 1em;
    border-radius: 24px;
    cursor: pointer;
    color:#fff;
}

.footer p:hover{
    background-color: #292929;
}

.svg{
  position: absolute;
  top: 0;
  left: -169px;
  width: 300px;
  height: 100%;
  /*fill: #21211e;*/
  fill:#181717;
  stroke: none;
}

.mask-sp{
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.hb-btn:hover
{
  background-color:var(--menu);
}

.bars{
  width: 40%;
  height: 0.8px;
  background-color: #fff;
  transform-origin: center;
  transition:all 0.3s ease;
}

.bars:nth-child(1).cross{
  transform: rotate(45deg) translateY(6px);
}

.bars:nth-child(2).cross{
  transform: rotate(-45deg) translateY(-6px);
}


@media (max-width:640px){
  h5{
    width:100%;
    font-size: 3rem;
    line-height: 1.4;
  }

  .main-nav{
    width:100%;
    padding:0.5em 3em;
    height:100%;
  }

  .svg{
    left:-340px;
    width:500px;
  }

  .main-nav p{
    font-size:x-small;
  }

  .footer{
    gap:4vw;
  }

  .hb-btn{
    width:60px;
  }

  .cross{
    transform: translateY(0);
  }
}

/* Marquee-Mobile Styles*/

.marquee-mobile h2{
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.mobile-img{
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

/* Splecial Text Stroke */

.stroke-text {
  letter-spacing: normal;
  font-weight: 800;
  color: transparent;            
  -webkit-text-stroke: 0.8px black;  
}